# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
testing.py

# PostgreSQL data
postgres_data/

# Uploads directory
uploads/

# IDE
.vscode/
.idea/ 

#Local models
local_models/

#Qdrant
qdrant_storage/
FAQ_Data/